
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

      <input class="color" type="text" name="color" value="" placeholder='Please put in red or black'>

      <input class="amount "type="number" min="0" name="amount" value="">
      <button class="button" type="submit" name="button">Play</button>

    <h2 class="result"></h2>


    <section>
      <form class="" action="/path" method="get">
        <input type="submit" name="" value="Casino Owner">
      </form>
      <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a> -->
      <!-- <a href="/signup" class="btn btn-default hide"><span class="fa fa-user"></span>signup</a> -->
    </section>
    <script type="text/javascript" src="main.js">

    </script>
  </body>
</html>
